<!-- <app-player [(health)]="health" [(weapon)]="weapon" [(minDamage)]="minDamage" [(maxDamage)]="maxDamage"
[(bulletsNumber)]="bulletsNumber"></app-player> -->
<br />
@if (!youAreDead && monsterName != 'Nincs') {
  <div>Nincs más lehetőséged, harcolnod kell.</div>
}
@if (!youAreDead && monsterName != 'Nincs') {
  <button class="btn btn-secondary" (click)="oneRound(this.player, this.enemy)">Egy harci kör</button>
}
@if (monsterName != 'Nincs') {
  <div>
    <p #roundNumbers></p>
    <span #damagePlayer></span>
    <span #damageEnemy></span>
  </div>
}
