<div class="row">
	<div class="col-12 d-flex justify-content-center text-center">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title" *ngIf="place$ | async">Edit the data of the place</h4>
				<h4 class="card-title" *ngIf="!(place$ | async)">Add a new place</h4>

			</div>
			<div class="card-body">
				<form #placeForm="ngForm">
					<input type="hidden" name="id" [(ngModel)]="place._id">

					<h3 class="h5 text-secondary">Location *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="location" [(ngModel)]="place.location" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['location']?.valid" class="alert alert-danger" role="alert">
								The first name of the place must be at least 3 letters and must not contains numbers!
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">Narration zone text *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="narrationZoneText" [(ngModel)]="place.narrationZoneText"
									required pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['narrationZoneText']?.valid" class="alert alert-danger" role="alert">
								The narration zone text of the place must be at least 3 letters and must not contains numbers!
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">Opponent Name</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="email" [(ngModel)]="place.opponentName">
							</div>
							<div [hidden]="placeForm.controls['opponentName']?.valid" class="alert alert-danger" role="alert">
								The email of the place must be valid and unique!
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary"> 1st decision *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="decision1" [(ngModel)]="place.decision1" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['decision1']?.valid" class="alert alert-danger" role="alert">
								The role number of the place must be 1 (viewer), 2(archiver) or 3(administrator)!
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">2nd decision *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="decision2" [(ngModel)]="place.decision2" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['decision2']?.valid" class="alert alert-danger" role="alert">
								For security reasons we store only the encryted password. When you add a new password of the family
								member must be minimum 7 characters, must contains at least 1 letter and 1 number! Before save the
								password will be automatically encrypted.
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">3rd decision *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="decision3" [(ngModel)]="place.decision3" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['decision3']?.valid" class="alert alert-danger" role="alert">
								For security reasons we store only the encryted password. When you add a new password of the family
								member must be minimum 7 characters, must contains at least 1 letter and 1 number! Before save the
								password will be automatically encrypted.
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">4th decision *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="decision4" [(ngModel)]="place.decision4" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['decision4']?.valid" class="alert alert-danger" role="alert">
								For security reasons we store only the encryted password. When you add a new password of the family
								member must be minimum 7 characters, must contains at least 1 letter and 1 number! Before save the
								password will be automatically encrypted.
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary"> 1st further location *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="furtherLocation1" [(ngModel)]="place.furtherLocation1"
									required pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['furtherLocation1']?.valid" class="alert alert-danger" role="alert">
								The role number of the place must be 1 (viewer), 2(archiver) or 3(administrator)!
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">2nd further location *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="furtherLocation2" [(ngModel)]="place.furtherLocation2"
									required pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['furtherLocation2']?.valid" class="alert alert-danger" role="alert">
								For security reasons we store only the encryted password. When you add a new password of the family
								member must be minimum 7 characters, must contains at least 1 letter and 1 number! Before save the
								password will be automatically encrypted.
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">3rd further location *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="furtherLocation3" [(ngModel)]="place.furtherLocation3"
									required pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['furtherLocation3']?.valid" class="alert alert-danger" role="alert">
								For security reasons we store only the encryted password. When you add a new password of the family
								member must be minimum 7 characters, must contains at least 1 letter and 1 number! Before save the
								password will be automatically encrypted.
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">4th further location *</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="furtherLocation4" [(ngModel)]="place.furtherLocation4"
									required pattern="^[a-űA-Űa-zA-Z \-\.,!()']{3,60}$">
							</div>
							<div [hidden]="placeForm.controls['furtherLocation4']?.valid" class="alert alert-danger" role="alert">
								For security reasons we store only the encryted password. When you add a new password of the family
								member must be minimum 7 characters, must contains at least 1 letter and 1 number! Before save the
								password will be automatically encrypted.
							</div>
						</div>
					</div>


					<button *ngIf="place$ | async" (click)="onUpdate(place)" [disabled]="placeForm.invalid" type="submit"
						class="btn btn-primary pull-right me-md-3">Update
						data of place</button>
					<button *ngIf="!(place$ | async)" (click)="onCreate(place)" [disabled]="placeForm.invalid" type="submit"
						class="btn btn-primary pull-right me-md-3">Create
						data of place</button>
					<button routerLink="/all-place" type="button" class="btn btn-danger pull-left">Cancel
						edit</button>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>