<body>
	<div id="content">
		<img src="../../../assets/img/logos/Hootie in bootee.png" class="center">

		<div class="title"> Miserere Mei - The Precarious Trails to the Library of Preachers v.1.0.0 </div>

		<div class="paragraph">
			A „Miserere Mei - The Precarious Trails to the Library of Preachers” című program ötlete egy érdekes
			gondolatkísérletből indult ki: lehetséges-e modern eszközökkel, az ezredfor-duló után megjelent videojátékok
			néhány
			jellemzőjével felvértezni egy alapvetően régi, a számítástechnika őskorában megjelent játéktípust, a szöveges
			kalandjátékot?
		</div>

		<div class="container">
			<div class="image">
				<img src="../../../assets/img/logos/miserere.png">
			</div>
			<div class="text">
				<div class="line">
					Jelenlegi verzió: v.1.0.0.
				</div><br>
				<div class="line">
					Közzététel dátuma: 2022-10-30.
				</div><br>
				<div class="line">
					Forráskód elérhető a GitHubon.
				</div>
			</div>
		</div>



		<div class="paragraph">
			A program stílusában a klasszikus „lapozgatós könyvek” és a rendszerváltás utáni szö-veges kalandjátékok
			hagyományaira
			épít. Tehát: a szoftver esetében is van egy biztonságos útvonal. A programban a felhasználónak harcolnia is kell
			és a
			játékmenet tekintetében lényegi szerepe van a játékos döntéseinek.
			A játék – a megfelelő útvonalat bejárva – bár körülbelül fél óra alatt kijátszható
		</div>
		<div class="paragraph">
			A játék helyszíne a 2050-es évek posztapokaliptikus világa, a Pusztulás Földje. A játék-ban egy zsoldost, Cantus
			Planust
			irányíthatjuk, aki feladatot kap egy öreg paptól, Gregoriótól. A megbízás szerint a katonának el kell kísérnie 5
			fiatal
			embert: Altust, Tenort, Bassust és a Superia-nővéreket a Prédikátorok Könyvtárába azért, hogy az általuk és bennük
			élő
			zenét a könyvtárosok „lejegyezhessék” az utókornak. A küldetésük a vad, kegyetlen sivatagon vezet keresztül
			számtalan
			megpróbáltatással, s emellett még a környék könyörtelen és kíméletlen hadura, Falsetto is tudomást szerez a
			megbízásról
			és meg akarja akadályozni azt. A program célja tehát, hogy a játékos a játék főszereplőit épen és egészségesen
			eljuttassa a Prédikátorok Könyvtárába.
		</div>

		<div class="signature">
			Porkoláb Ádám - Hootie in Bootee Studio
		</div>

	</div>
</body>