<body>
	<div id="content">
		<img src="../../../assets/img/logos/Hootie in bootee.png" class="center">

		<div class="title"> Miserere Mei - The Precarious Trails to the Library of Preachers v.1.0.0 </div>
		<br>

		<div class="paragraph">
			<b>Történet és programozás:</b> Porkoláb Ádám <a
				href="https://www.hootieinbootee.com">https://www.hootieinbootee.com</a>,
			<A
				HREF="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%6C%6F%40%68%6F%6F%74%69%65%69%6E%62%6F%6F%74%65%65%2E%63%6F%6D">email
				me</A>
		</div><br>
		<div class="paragraph">
			<b>Grafika, design:</b> Midjourney AI <a href="https://bit.ly/3gUQAqO">(https://bit.ly/3gUQAqO)</a>
		</div><br>

		<div class="paragraph">
			<b>Kiindulásási HTML template:</b> Creative Tim <a href="https://bit.ly/3DKewWE">(https://bit.ly/3DKewWE)</a>
		</div><br>
		<div class="paragraph">
			<b>Szövegekhez használt HTML template:</b> Baris Senkal <a
				href="https://bit.ly/3DKoaZk">(https://bit.ly/3DKoaZk)</a>
		</div><br>
		<div class="paragraph">
			<b>Forbidden (403) hibához használt HTML template:</b> Blissful Lemon
			<a href="https://bit.ly/3sHZZEJ">(https://bit.ly/3sHZZEJ)</a>

		</div>
	</div>
</body>