<body>
	<div id="content">
		<img src="../../../assets/img/logos/Hootie in bootee.png" class="center">

		<div class="title"> Miserere Mei - The Precarious Trails to the Library of Preachers v.1.0.0 </div>
		<br>
		<div class="container">
			<div class="image">
				<img src="../../../assets/img/logos/miserere.png">
			</div>
			<div class="text">
				<div class="line">
					<b>Történetet írta és programozta:</b> Porkoláb Ádám (https://www.hootieinbootee.com),
					<A
						HREF="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%6C%6F%40%68%6F%6F%74%69%65%69%6E%62%6F%6F%74%65%65%2E%63%6F%6D">email
						me</A>
				</div><br>
				<div class="line">
					<b>Grafika, design:</b> Midjourney AI (https://www.midjourney.com/home/)
				</div><br>

			</div>

		</div>
		<br>
		<div class="line">
			<b>Kiindulásási HTML template:</b> Creative Tim (https://www.creative-tim.com/product/soft-ui-dashboard)
		</div><br>
		<div class="line">
			<b>Szövegekhez használt HTML template:</b> Baris Senkal (https://github.com/barissenkal/Short-Story-HTML-Template)
		</div><br>
		<div class="line">
			<b>Forbidden (403) hibához használt HTML template:</b> Blissful Lemon
			(https://codepen.io/ablissfullemon/pen/zJepap)
		</div>
	</div>
</body>