<body>
	<div id="content">
		<div class="signature">
			Porkoláb Ádám
		</div><br>
		<div class="title"> Miserere Mei (részlet) </div>

		<div class="line">
			Egy utazás elkezdődik
		</div><br>

		<div class="quote">
			"A zene alapvetően a lélekből fakad. Egyébként ez különbözteti meg az embert az állattól. A madarak között is akad
			olyan, ami gyönyörű zenét produkál. (...) De a különbséget talán egy hasonlattal világíthatnám meg a
			legszemléletesebben. Csodálatra méltó, ahogy a fecskék építik fészküket, mindazonáltal nem jutna eszünkbe ezt
			magas
			művészetnek vagy építészetnek nevezni. Mi a különbség a firenzei dóm és egy fecskefészek között? A tudatos
			szándék,
			a szellemi és lelki munka.”</div>

		<div class="line">
			Martin Meyer
		</div><br><br>

		<div class="paragraph">Hogyan foglalnád össze egy életút hol jobb, hol rosszabb döntéseit, tanulságait, ha
			mindössze
			egyetlen papírlapnyi helyed lenne erre a célra? </div>
		<div class="paragraph">Cantus maga is ezen törte a fejét az alkalomszülte búvóhelyén, miközben egyik kezével
			idegesen
			piszkálta a öreg Kalasnyikovjának vállszíját, miután jobbjával egy megsárgult, koszos, üres papírlapot melengetett
			a
			térdén. Ez lesz a hagyatéka: mindössze ezt hagyja az emberiségre, miután testét egy jeltelen tömegsírba temetik –
			ha
			egyáltalán valaki veszi majd a fáradságot, hogy elkaparja. Mindössze ez a lap kerül majd be általa a Prédikátorok
			Könyvtárába: az emberi kultúra utolsó végvára ennyit őriz meg egy írástudó emlékéből. Még nem tudta, hogy mit
			írjon
			erre a nehezen megszerzett kincsre: egy fél hátizsáknyi sózott húst adott annak a guberálónak, aki kiásta a romok
			alól. Persze le is lőhette volna érte. Egyetlen töltény ára valamivel olcsóbb lett volna, de Cantus nem szerette a
			szükségtelen erőszakot, bár ha úgy hozta a helyzet, megtette, amit kellett. És különben is, írószerszáma sem volt.
			Az
			már tényleg felbecsülhetetlen kincs lett volna a digitális középkorban. </div>
		<div class="paragraph">Végül ugyanolyan üresen rakta vissza a papírt katonai hátizsákjába, ahogyan elővette. -
			Hülyeség
			az egész, minek álmodozni? – gondolta. </div>
		<div class="paragraph">Cantus Planus idegesen szívta a fogát: túl hamar ért ide. A koszosbarna, valaha katonai
			köpeny és
			az erősen javított katonai felszerelés Cantus részévé vált. A negyven év körüli harcos arcát mélyen barázdálták
			azok
			az események, melyeket a múltban meg kellett tennie. Piszkosszőke, őszülő haja, ovális arca és vékony testalkata a
			környéken szinte legendává tette a szótlan, látszólag érzelmek nélküli zsoldost. </div>
		<div class="paragraph">Az öreggel csak napnyugtakor kell találkoznia. Maga negyvenvalahány évével már idősnek
			számított
			egy olyan korban, ahol mindenki az ereje alapján ítéltetik meg. Azt mondják, hogy a világ régebben más volt, de
			arra
			nem emlékezhetett. A férfi maga is érezte, hogy közel a vég, de saját bakancsának ropogása a deszkapadlón
			kibillentette gondolataiból. – Jó lesz még egy kicsit pihenni napnyugtáig. – gondolta és leheveredett a
			bombagyötörte
			rom egyik sarkába, saját szurtos köpenyére. </div>
		<div class="paragraph">Alig szundíthatott pár percet, amikor ütemes, kattogó hangokat hallott egyre közeledni.
			Lövések.
			A harcos rögtön felismerte a P90-es gépfegyver fura, hordókongásra emlékeztető hangját. A sorozatra válaszképpen
			több
			egyes lövés érkezett. Ritmusukból tudta, hogy ezek félautomata kézifegyverek, talán Glock 17-sek. </div>
		<div class="paragraph">Cantus ösztönösen összébbhúzta magán a kamuflázs viharkabátot, majd jó öreg Kalasnyikovját
			csőre
			töltötte, s gépzsírtól szürke rongyba tekerte, melyet csak az ilyen alkalmakra tartogatott. 8 lélegzésnyi idő
			múlva
			feltűntek a pisztolyosok. Öten voltak, azonos ruházat és fegyverzet. A szakadt katonai egyenruhákat talán
			valamelyik
			háború előtti bázisról rekvirálhatták, vállukon rendesen karbantartott Heckler & Koch MP5 géppisztolyok lógtak.
			Cantus
			úgy sejtette, hogy mivel nem azzal viszonozzák a tüzet, valószínűleg kifogyhattak a lőszerből. A jól táplált,
			izmos
			férfiak legtöbbje a húszas évei legelején járt. A csoport közepén levő idősebb, fekete hajú férfi megsérült, mert
			ketten is támogatták. A rajparancsnok az oldalát fogta, és a seb helyzete alapján Cantus májlövésre tippelt.
			Végzetes.
			A parancsnok maga is sejthette, hogy közel a vég, de az adrenalin még hajtotta. Röviden és magára erőltetett
			nyugalommal parancsokat harsogott. </div>
		<div class="paragraph">A csapat folyamatosan, de egyre lassuló ritmusban viszonozta a tüzet és fedezéket kerestek.
			Vissza akartak vonulni. A romok erre jó helyet biztosítottak. Zónavédelem. Klasszikus zsoldos harcmodor. Cantus
			valami
			hasonlót tett volna maga is. Harcolni a végsőkig. A banditák egyre közeledtek. </div>
		<div class="paragraph">A zsoldosokat tipikusan védelemre szokták felbérelni. Egy ilyen jól felszerelt és képzett
			sereg
			pedig nem védhet mást, csakis… Cantus elővette a távcsövét és kereste a karaván nyomait. Egy negyed fejmozdítás
			után
			megtalálta. 220 méter, északnyugatra, a földúton. Amit látott, annak fel kellett volna zaklatnia a harcost. Minden
			jó
			érzésű embert fel kellett volna zaklatnia. Cantus azonban rezignáltan vette tudomásul a látványt. Ismerte a
			módszert,
			ösztönösen tudta, hogy mit fog látni. Maga is ölt már ilyen módon. </div>
		<div class="paragraph">A földúton kereskedők és harcosok ruhátlan holttestei voltak. A banditák hátra maradt
			csoportja,
			körülbelül húsz lélek a legtöbb tetemet még éppen akkor kutatta át. A gazdag, jól öltözött kereskedők hasát durva
			módon felnyitották: ősöreg trükk, hogy veszélyhelyzetben az apró, de értékes tárgyakat lenyelik. A banditák
			gyakorlott
			mozdulataikból fakadóan nem most csinálhatták először. Az elesett harcosok tölténytáskáit kipakolták, fegyvereiket
			és
			egyéb harcászati eszközeiket elvették. Még a kereskedők lovait sem kímélték. Hús. Egy embernek 3-4 napra, egy
			ilyen
			csapatnak egy étkezésre elég. </div>
		<div class="paragraph">A homokos földút fekete volt a kiontott vértől, csak a kilőtt töltények rézhüvelyei
			csillogtak a
			napon. Cantus felismerte a csapat vezetőjét, aki érezve a diadal ízét, magán kívül üvöltve biztatta és gyalázta
			egymás
			után saját harcosait. </div>
		<div class="paragraph">Cantus jól tudta, hogy ki ez: Falsetto, a környék hadura. A férfi híres volt
			kegyetlenségéről:
			ellenségei (az a néhány, akinek még meg volt a nyelve és beszélni tudott) könyörtelen és kapzsi embernek
			tartották,
			aki az új világ szinte összes söpredékét befogadja és használja a saját céljaira. A férfi hatalmasra nőtt
			ellenségei
			húsán, kinézete az óvilág birkózóira emlékeztette Cantust. Az őrület bábozott ezzel a férfival: kezében tartott
			gigászi kése vértől volt lucskos. A férfi félmeztelenül őrjöngött, látszólag védtelen volt, de látszott, hogy
			valamennyi embere félelemmel vegyes tisztelettel vetné egy neki szánt golyó elé magát. Falsetto nem bízta a
			holttestek
			meggyalázását az embereire, ő maga tette. Cantus hátán egyszerre csak valamilyen kellemetlen érzés futott végig.
			Az
			erősebbtől való ösztönös félelem. </div>
		<div class="paragraph">Bár a katonák még harcoltak, Cantus tudta, hogy már mind halottak. Jobb lett volna, hogy ha
			az
			utolsó töltényt nem Falsetto felajzott harcosaira pazarolják, hanem maguknak tartogatják. De nem így tettek.
		</div>
		<div class="paragraph">Cantus jól láthatta, ahogy még körülbelül egy órát kitartanak, majd lőszerük fogytával
			kézitusára
			kényszerülnek. Falsetto emberei legelőször a parancsnokot ölték meg. A többi harcos ösztönösen ledermedt, ahogyan
			az
			őrülettől és a harci drogtól eszüket vesztett pribékek a parancsnok lőtt sebén keresztül tépték fel a hasát puszta
			kézzel. A roham egy pillanatra sem állt meg. A zsoldosok elvesztegetett pillanata sajnos pont elég volt ahhoz,
			hogy
			körülvegyék és térdre kényszerítsék őket. Cantus pont akkor vette el a tekintetét, amikor a legfiatalabbnak látszó
			zsoldos kezéből, csontot törve kicsavarták harci tőrét. </div>
		<div class="paragraph">Az üvöltés még egy jó negyed óráig tartott, majd vészjósló csend ereszkedett a környékre.
			Cantus
			nem akarta megnézni a helyszínt, inkább aludni próbált. De nem tudott. </div>
		<div class="paragraph"><br><br></div>
		<div class="paragraph">A férfi, aki Gregoriónak nevezte magát, Cantushoz képest valószerűtlenül öregnek látszott.
			A
			helyiségben doh és húgyszag terjengett. Gregorió a szegényes lyuk közepén egy koporsónak tűnő kevereten dülöngélt
			ráérősen, láthatóan valamiféle kényelmes helyzetet keresett. Mozgása darabosnak, sokszor koordinálatlannak tűnt,
			észrevehetően valamiféle betegség gyötörte, azonban elméje – amint az a bemutatkozáskor kiderült – szikrázóan ép
			volt.
			Cantus magában rá is csodálkozott, hogy hogyan élhette túl ilyen sokáig ilyen egészséggel, harca képtelenül a
			pusztában? A férfi barna, jellegtelen köpenyében egy sétáló hullának tűnt, amit a beszűrődő gyenge holdsugár és a
			sápatag gyertyacsonk munkája csak megerősített. </div>
		<div class="paragraph">Ahogyan rálépett az ingatag deszkapadlóra, Cantus azonnal hallotta, hogy alattuk valamiféle
			sebtiben összerámolt búvóhely lehet. Ezt a gyanúját egy, a padlók által tompított tüsszentés is megerősítette. Az
			öreg
			legalább másodmagával van. – állapította meg. Viselkedése azonnal nyugtalanabb lett. – Vajon ez egy csapda lehet?
			Ez a
			gondolat logikusnak tűnt, hiszen már közel ötven éve tart a világméretű ketrecharc a megmaradt forrásokért. </div>
		<div class="paragraph">Csak egy pillanatig néztek egymásra meredten. Cantus tudta, hogy hagynia kell megrendelőjét
			beszélni, az öreg, mintha maga is érezte volna – darabosan, mint egy berozsdásodott zsindely – neki is kezdett.
		</div>
		<div class="paragraph">- Köszönöm szépen… hogy megtisztelt látogatásával. – recsegte egy fojtó köhögést
			félbetörve.
		</div>
		<div class="paragraph">Az öreg szokatlanul illedelmes volt: a közös nyelv egy régebbi, archaikusabb változatát
			beszélte.
			Cantusnak minden idegszálával koncentrálnia kellett a nyelvezet miatt: úgy tűnt, mintha ismét szüleivel hozta
			volna
			össze a balszerencse. Végül nem válaszolt, csak biccentett az öreg felé. </div>
		<div class="paragraph">- Azért szerettem volna, ha felkeres, mert szeretném, ha elvinne valamit a megbízásomra.
		</div>
		<div class="paragraph">Cantus arcára azonnal kiült az undora – utálta a testőrködést és a szállítói munkákat. Ha
			az
			öreg
			jobban figyelt volna, még azt is láthatta volna, hogy szeme elfelhősödik, de Gregorió saját gondolataiba merülve
			folytatta. </div>
		<div class="paragraph">- Ahogyan érzem, nem sok időm lehet hátra. – roppantotta meg tagjait közben ennek
			bizonyítására.
			– A lélegzetem darabos, a mozgás is egyre nehezebben megy. </div>
		<div class="paragraph">Itt szünetet tartott, ahogyan nehézkes csoszogással a primitív tűzhelyhez vonszolta magát
			és
			egy
			összetört széklábat vetett a tűzre. A fadarab szokatlanul díszes volt, csavart formáit néhány durva fejszecsapás
			törte
			meg. A fa, miután lángra kapott, különleges illatot árasztott. </div>
		<div class="paragraph">- Tudja, a kataklizma előtt pap voltam. – Cantus a fejét rázta. Pap. Még sohasem hallotta
			ezt
			a
			szót ezelőtt. </div>
		<div class="paragraph">Az öreg csak legyintett a jól látható értetlenségre. </div>
		<div class="paragraph">- A hit embere. Az emberek pásztora. Az égi hatalom képviselője. Hagyjuk… nem szívesen
			gondolok
			arra az időre. Már meghalt Isten. Most már senkim sincsen, csak a környékbeliek. </div>
		<div class="paragraph">Cantus hirtelen megvilágosodott. Utazásai közben hallott már róla, hogy a primitív törzsek
			közül
			sokan hisznek valamiféle égi élőlényben, aki varázshatalommal rendelkezik. Ő nem hitt semmiben, csak abban a
			tizenhét
			töltényben, melyet az elmúlt tíz évben szedett össze. Ő már volt valaki a pusztában. Gregorió folytatta: </div>
		<div class="paragraph">- Még utoljára szeretnék valamit tenni az emberiségért, mielőtt elenyészek. Szabadidőmben
			zenével
			foglalkoztam, és fiatalabb koromban eléggé sok darabot memorizáltam. </div>
		<div class="paragraph">Cantus egyre rosszkedvűbb lett. Megint egy közös szó, amit nem ért. Most már nem tudta
			türtőztetni magát. </div>
		<div class="paragraph">- Mi az a zene? </div>
		<div class="paragraph">A töpörödött kis öregember egy pillanatra összerándult, ahogyan az emlékei végigfutottak az
			agyában Cantus hívószavára. Az emlékek kellemesek lehettek, mert Gregorió arcát halvány mosoly szegélyezte. </div>
		<div class="paragraph">- Hadd mutassam meg! Ez úgyis összefügg azzal a feladattal, amivel meg akartam bízni önt.
		</div>
		<div class="paragraph">A pap hármat koppantott a lábával: két rövidet és egy hosszút. Cantus hallotta, ahogyan az
			eddig
			jól eltitkolt rekeszben mozgolódás támad. Bár nem érzékelt veszélyt, de ösztönösen kibiztosította és csőre
			töltötte a
			gépfegyverét. Gregorió korát meghazudtoló gyorsasággal ugrott a kalasnyikov elé, remegő kezével igyekezett a
			fegyver
			csövét föld felé tolni szelíden. </div>
		<div class="paragraph">- Ne lőjön, kérem! Nem akarják önt bántani. </div>
		<div class="paragraph">A padlódeszkák egy bizonyos részen megmozdultak. A résen egy fiatal, alig felnőtt férfi
			bújt
			ki.
			Arcát vastag rétegben borította a kosz. Félve kimászott a lyukból, Gregorió atya egy félénk mosolyt küldött felé,
			majd
			bizonytalanul a pap mögé somfordált. Cantus ezen annyira elcsodálkozott, hogy nem is vette észre a lyukból
			patkányként
			kitámolygó, második, kövérebb fiút. A pillanat végtelennek tetszett, ahogyan az alultáplált, szedett-vedett banda
			szakadt rongyait megigazgatva valamiféle sorba rendeződött az öreg előtt. A szakadt csapat tagjai a körülményeket
			leszámítva életerősnek látszottak, a szüntelen bujkálás miatt még a környezetüknél is piszkosabbak voltak. A
			harcos
			végül öt embert számolt meg: három férfit és két nőt. A lányok láthatólag testvérek lehettek: nevetségesen elálló
			fülük, szőkésbarna hajuk, savószínű szemük miatt rokonságuk Cantus számára ténykérdés volt. A fiúk testalkatán
			látszódott a földműves lét néhány éve: csontozatuk valószerűtlenül robosztus volt. A harcos számára látszódott:
			helyi
			földművesek ivadékai voltak valamennyien, de azokhoz képest remek egészségi állapotban voltak. Fogaik megléte arra
			utalt, hogy viszonylagos jólétben élhettek. Kisebb csoda volt, hogy egyetlen végtagjuk sem hiányzott és semmilyen
			betegség jeleit nem mutatták. Valószerűtlenül jól voltak a körülményekhez képest. </div>
		<div class="paragraph">Még fel sem ocsúdott, amikor az öreg összeparancsolta a bandát. A fiatalok pontosan tudták,
			hogy
			mit kell tenniük. </div>
		<div class="paragraph">Az öreg arca megkomolyodott, ahogyan lágyan felemelte a kezét. </div>
		<div class="paragraph">- Miserere, első öt ütem. – parancsolta embereinek. </div>
		<div class="paragraph">"Miserere
			"ei, Deus” – énekelték egyszerre, mégis máshogy – valamilyen már elveszett,
			ismeretlen
			nyelven. Cantus agya rezonált, mellkasa összeszorult. Torka egyszerre kiszáradt, végtagjai remegtek. Valami
			földöntúli
			eufória, eddig még nem megtapasztalt érzés kerítette hatalmába, ahogyan ez az öt idegen egy régen elpusztult nép
			szavait parancsolta a szobába. – Mintha szellemet idéznének. – gondolta. Ez az ismeretlen erő sokkal hatalmasabb
			volt,
			mint ő: a pap égi varázslénye, melyben Cantus nem hitt, a hangok által egyszerre mégis életre kelt és a férfi fölé
			magasodott egy pillanatra. Az érzés körbefogta és szinte megdelejezte. Gregorió arca felderült, ahogyan kezével
			verte
			a taktust: hajlott háta újra a fiatal papé volt, szelleme újra felfrissítette a testét. </div>
		<div class="paragraph">A szedett-vedett társaság hirtelen, mintha repült volna. Az öt idegen földöntúli érzéseket
			sugárzott magából, Cantus ilyesmit már hallott a Fésű Hegy vidékén kóborolva, de ott a szél játszott a sziklákkal.
		</div>
		<div class="paragraph">Ahogyan a kipirult arcú társaság abbahagyta az éneklést, a férfi néhány másodpercig
			csendben
			maradt, majd – mivel utálta a szócséplést – rögvest a lényegre is tért. </div>
		<div class="paragraph">- Remek, tényleg. De mi lenne az én feladatom? </div>
		<div class="paragraph">Gregorió néhány másodpercre teljesen elszakadt a világtól. Szemei párásan meredtek a
			távolba,
			a
			koszos bútorokon, a korhadó deszkafalon, a kunyhón és a felemésztett világon túlra. Cantus idegesen rácsapott a
			fegyverének agyára, s a hangtól összerándult Gregorió megszeppenve válaszolt a harcosnak. </div>
		<div class="paragraph">- A gyermekeket a Prédikátorok Könyvtárába kell vinnie. Mindegyiket. Épségben. Nagyon
			fontos
			és
			értékes dolgot hordoznak valamennyien. </div>
		<div class="paragraph">Cantus idegesen felhorkantott, majd gyászkeretes körmével piszkálni kezdte a fülét. </div>
		<div class="paragraph">- A Prédikátorok Könyvtára csak mese. Higgye el, én már keresztbe kasul átkeltem a pusztán
			és
			nyomát sem láttam ennek a… </div>
		<div class="paragraph">A pap szemei villámokat szórtak, ahogyan közbevágott. </div>
		<div class="paragraph">- Létezik a hely, ebben teljesen biztos vagyok. Három téllel ezelőtt egy karaván tévedt
			ide,
			ők
			mondták, hogy papírt és számukra ismeretlen dolgokat vittek a Fésűs Hegységen és a Fekete Mocsáron is túlra. A
			Prédikátorok Könyvtárába, ahol – ahogyan ők mondták – delejjel világítottak a legsötétebb hajnali órán is. </div>
		<div class="paragraph">A harcos a karaván szó hallatán ösztönösen megborzongott egy pillanatra, emlékezve a pár
			órával
			ezelőtt látottakra. Zsákokba tömött emberi napfény. Cantus már hallott ilyesmiről. Tündérmesének tűnt, akárcsak
			maga a
			Prédikátorok Könyvtára. </div>
		<div class="paragraph">- Lehetetlent kér tőlem. A hegyi törzsek mindenkit felkoncolnak, aki arra jár. Csak egy
			esetről
			tudok, amikor egy jól felfegyverzett csapat erőszakkal akart áttörni a Sokárok-hágón, lőfegyvereket is vittek
			magukkal, fejenként tíz-tíz lőszerrel a tárban. Végül senki sem tért vissza közülük. Jól ismerem az esetet, öt
			téllel
			ezelőtt történt meg, a csapat vezetője a testvérem volt. </div>
		<div class="paragraph">Gregorió sejtelmesen mosolygott. </div>
		<div class="paragraph">- Önöket át fogják engedni, ebben biztos vagyok. </div>
		<div class="paragraph">- Miért biztos ebben? </div>
		<div class="paragraph">- Mert Superiáéknál megvan minden, ami nekik kell. – nézett sejtelmesen a remegő lányokra.
		</div>
		<div class="paragraph">Cantus kezdett ráeszmélni a dologra. Arcán fintorral, undorral a fogai között préselte ki a
			véleményét. </div>
		<div class="paragraph">- Ahogyan mondják, a Sokárok-hágó népe nem párzik senki mással, csak a saját törzsük
			tagjaival.
		</div>
		<div class="paragraph">Gregorió dühösen szorította ökölbe a kezét. Látszott rajta, hogy csak az önfegyelem
			erejével
			tudja türtőztetni magát. </div>
		<div class="paragraph">- Nem erről van szó. Bízzon bennem! Ők a kultúrát fogják elvinni számukra. </div>
		<div class="paragraph">Cantus ezt a szót sem értette, de már nem akart több felesleges szócséplést. Tovább
			vitatkozott:
		</div>
		<div class="paragraph">- De akkor is ott van a környék királya, Falsetto, aki kegyetlenül megöl mindenkit, akinél
			valami
			értékeset remél. Hallottam azt, hogy legutóbbi ellenfelét egy falka kutyával etette meg, mert volt nála kétüvegnyi
			égő
			folyadék. </div>
		<div class="paragraph">Gregorió erre nem tudott mit mondani. Néhány másodpercnyi nyomasztó csönd telepedett rá a
			viskóra. A fiatalok, akik eddig feszengve hallgatták a rögtönzött vitát, most kissé kényelmetlenül mocorogni
			kezdtek.
		</div>
		<div class="paragraph">- Két zsák sózott húst és kéttárnyi 7,62-es töltényt adnék a szolgálataiért. Felét most,
			felét,
			ha visszatért. </div>
		<div class="paragraph">Cantus egy pillanatra megszédült a felajánlott dolgok hallatán. Ez egy kisebb vagyon volt
			itt
			a
			pusztaságban. Próbált nyugalmat erőltetni az arcára, bár kezével idegesen babrálta a háború előtti gépkarabélyt. –
			Honnan van ilyen nagy vagyona ennek a semmirekellőnek? – tűnődött. A kapzsi vágyódás egy pillanatra kikapcsolta
			gondolatait. </div>
		<div class="paragraph">- Még mit nem! Mindent! Most! Nagyon kevés az esély, hogy mi még újra látjuk egymást. Ámde,
			ha
			mégis úgy hozná a sors, hogy ép bőrrel visszatérek, még azt is letagadhatná, hogy ismer, sőt még a környékbelieket
			is
			ellenem fordítaná. Akkor pedig meg kellene ölnöm a puszta kezemmel. Ezt pedig nem szeretném. Egyszóval
			mindannyiunk
			számára jobb lenne, ha útiköltség gyanánt ideadná azt a csomagot, amit nekem szánt. </div>
		<div class="paragraph">- De mi a biztosíték arra, hogy nem öl meg azonnal utána és megy el rögvest? </div>
		<div class="paragraph">- A becsületszavam. Csak ennyi. </div>
		<div class="paragraph">Gregorió hümmögött, miközben állát vakarta tenyerével. Amit hallott, nem volt számára
			túlzottan
			vonzó, de nem tehetett mást, mint hogy megbízzon ebben a sokat látott, mord figurában. Némán bólintott, miközben
			lassan sántikálva a viskó elfüggönyözött, félhomályba bújtatott hátsó részébe indult. Az öreg leintette a
			legmasszívabb testalkatú fiút: </div>
		<div class="paragraph">- Bassus, gyere velem! </div>
		<div class="paragraph">A többiek lopva nézegették a harcost, aki unottan piszkálgatta tőrével körmeit, tudomást
			sem
			véve
			a körülötte levőkről. A katona tapasztalt füle körülbelül 6-7 méterre hallotta a hátizsák súrlódását és a
			tölténytárak
			egymáshoz koppanó, semmivel össze nem hasonlítható fémes koccanását. </div>
		<div class="paragraph">Néhány feszült pillanat telt csak el, amíg a két alak visszatért a többiekhez. Az öreg
			remegő
			kézzel átadta a katonának a kéttárnyi lőszert, a fiatalabb, Bassusnak nevezett alak pedig könnyűnek ható
			mozdulattal a
			katona lába elé dobta terhét. Cantus azonnal kicserélte a teli tárat gépfegyverében. A fegyver felhúzókarja
			vészjóslón
			kattant hátrahúzáskor – nyugtázva az újratöltést. Most már mindannyiuk élete Cantus jóindulatán múlott. </div>
		<div class="paragraph">- Megkapta, ami jár önnek. Kérem, ne késlekedjen! Vigye el a csapatot a Prédikátorok
			Könyvtárához. </div>
		<div class="paragraph">Cantus arcán félmosoly jelent meg. </div>
		<div class="paragraph">- Talán érdemesebb lenne, ha bemutatná őket. </div>
		<div class="paragraph">Gregorió homlokára csapott. </div>
		<div class="paragraph">- Milyen udvariatlan is vagyok! </div>
		<div class="paragraph">- Bár a helyi parasztok mindegyiküknek adtak valamiféle nevet, de miután – szebb szó híján
			megvettem őket – a hangfekvésüknek megfelelő nevet adtam nekik. </div>
		<div class="paragraph">Cantus szemöldöke önkéntelenül is megrándult. </div>
		<div class="paragraph">- Ne lepődjön meg, még jót is tettem ezekkel a lelkekkel: a környék nem bővelkedik a
			terményekben, viszont eléggé szapora a gyermekáldás, így a helyi angyalcsináló gyakran teszi el láb alól a nem
			kívánatos gyermekeket. Én csak lehetőséget kínáltam ezeknek a gyermekeknek. </div>
		<div class="paragraph">Cantus a sarokban álló, vörös hajú, langaléta fiús lányra mutatott. </div>
		<div class="paragraph">- Ő Altus. Ő a legfiatalabb a maga tizenöt évével. Nem árulok el titkot, ha elmondom, hogy
			őt
			megváltani volt a legnehezebb a szüleitől. Egy fél télre elég répát adtam érte. A többiek csak rá hallgatnak,
			tehát
			kérem, legyen vele nagyon tapintatos. </div>
		<div class="paragraph">Altus éppen csak bólintani tudott, Gregorió máris továbbvitte tekintetét. Az óvatlannak
			tűnő,
			húszas évei elejében járó fiatal férfi arca szurtos volt, de Cantus a szemébe nézve nyers tekintélyt és bátorságot
			látott. A fiú az egyik szőkésbarna hajú, savószínű lány kezét fogta védőn. </div>
		<div class="paragraph">- Ő Tenor. Bár elég sok időt éltem még a régi világban, de az övéhez hasonló erős és tiszta
			hangot keveset hallottam. A helyi felvigyázó legkisebb fiaként éppen a csirkeólak körül dalolászott, mikor
			meghallottam. Ő maga annyi dalt és zeneművet ismer fejből, mint a többiek együttvéve. </div>
		<div class="paragraph">Cantus elismerően biccentett, bár nem értette, hogy miről is van szó, de az öreg büszke,
			kipirult
			arckifejezését látva csak annyit sejtett, hogy nem kis dologra képes ez a fiatal szervezet. </div>
		<div class="paragraph">A következő a sorban a már látott, tagbaszakadt tinédzser volt, ránézésre tizenhét tél
			terhe
			lehetett a vállán. A fiú éppen az orrát túrta és a piszkot a ruhája szegélyébe törölte, mikor rá került a sor.
			Látszódott, hogy értelme zavart, túlmozgásos tevékenysége legalább is ezt sugallta Cantus számára. </div>
		<div class="paragraph">- Ő Bassus. Rendkívüli testi erején kívül képes igen mély hangfekvésben énekelni, bár a
			kottát
			igen gyatrán ismeri. Jó szolgálatot tesz a banditák ellen és a cipekedésben. Kérem, ne említse előtte a múltját,
			mert
			megvadul. </div>
		<div class="paragraph">A fiatal férfi szórakozottan malmozott az ujjaival, miközben bemutatták. A végére maradtak
			a
			lányok, akik eddig kelletlenül bújtak a katona elől. Gregorió egyetlen intésére a lányok mégis, szoknyájuk szélébe
			kapaszkodva fejlesütve elsompolyogtak. </div>
		<div class="paragraph">- Ők a Superia-testvérek, akik ismerik a legmagasabb hangok világát és igen jól énekelnek.
			Bár
			nem beszélnek túl sokat, mégis a csapat fontos tagjainak számítanak. Ha odaérnek a Sokárok-hágó népéhez,
			mindenképpen
			a testvéreket küldje kapcsolatfelvételre. </div>
		<div class="paragraph">Cantus nyugtalanul bólintott, majd sokatmondóan az öreg szemébe nézett. Néhány pillanatig
			csak
			bámultak egymásra, mielőtt a harcos megszólalt volna: </div>
		<div class="paragraph">- Miért csinálja ezt? Miért teszi ki veszélynek azokat, akiket megmentett az éhhaláltól? Mi
			ér
			ennyit? </div>
		<div class="paragraph">Gregorió – mintha csak a nevét kérdeznék – azonnal rávágta: </div>
		<div class="paragraph">- Kevés ember van annak birtokában annak, amit ez a kis csapat birtokol. Mindannyiuknál a
			lőszernél és az élelmiszernél is értékesebb dolog van. Én magam, hosszú évek szívós munkájával töltöttem a fejükbe
			a
			zenét. Nagyon fontos, hogy ezt tudást ne vegye el egy bandita bunkósbotja, vagy ne vesszen el Zordváros
			rabszolgapiacán. Az ismereteket és a tudás tudását, a kultúrát évek alatt lehet elsajátítani, de egy pillanat
			alatt el
			lehet veszíteni. </div>
		<div class="paragraph">Kérem, segítse a gyermekeimet a Prédikátorok Könyvtárába. A zenének az a sorsa, hogy értő
			fülek
			óvják. A tudás mindenképpen élni akar, a jövőt célozza meg, nem a múlt játékszere. </div>
		<div class="paragraph">A csapat minden zenei ismeretemet, minden általam ismert zeneművet elvisz a kultúra
			őrzőihez.
			A
			maga dolga lesz az, hogy célba érjenek. </div>
		<div class="paragraph">- Mindent meg fogok tenni érte… - bár valószínűbb, hogy egy szakadék mélyén végezzük majd.
			–
			gondolta hozzá. </div>
		<div class="paragraph">A csapat még láthatólag nehezen akart elszakadni Gregoriótól: félénken, mégis
			szentimentálisan
			ölelték át az öreget. A pillanat évszázadoknak tetszett Cantusnak. A búcsú pillanata zavarba hozta a mord harcost,
			mivel a maga számára parancs volt, hogy ha úgy hozza a balsors, tíz másodpercen belül menetre készen legyen bárhol
			is
			tölti az éjszakát. </div>
		<div class="paragraph">Gregorió próbálta könnyes szemét elrejteni, azonban bármennyire is ügyesen próbálta,
			hangjának
			fátyolos rekedtsége mégis elárulta valódi érzelmeit. Emberfeletti erővel próbált magára nyugalmat erőltetni, de
			Cantus
			látta, hogy a veszteség fájdalma munkál az öregben. Pontosan tudta, hogy a fiatalok soha többé nem fogja látni őt.
		</div>
		<div class="paragraph">A csapat csigalassú tempóban vonszolta magát, vékonyka csomagjaikat úgy vették vállaikra,
			mintha
			köveket cipelnének. Mindenki érezte, hogy ez a búcsú végleges és megmásíthatatlan. </div>
		<div class="paragraph">Gregorió búcsúzásképpen a harcos felé lépett, s a megreccsenő padlódeszka hangjával
			egyszerre
			még
			hozzátette. </div>
		<div class="paragraph">- Ha bármikor segítségre lenne szükséges, kérem, keresse meg Ferocét, a boszorkányt. A
			zordvárosi
			piacon talál hozzá nyomot. </div>
		<div class="paragraph">Cantus ösztönösen morrantott egy tisztességeset. </div>
		<div class="paragraph">- Zordváros hatalmas kitérő. Legalább egy hetet veszítenénk, ha odamennénk. </div>
		<div class="paragraph"> Gregorió a kifogással mit sem törődve kezeit óvón a magasba emelte és így szólt: </div>
		<div class="paragraph">- Bár már több évtizede nem beszéltem Istennel, most mégis őt kérem arra, hogy védje meg a
			csapatot a küldetésük alatt. "Áldjon me
			" az Úr és oltalmazzon! Ragyogtassa rád arcát az Úr és legyen hozzád
			jóságos!
			Fordítsa feléd arcát az Úr és szerezzen neked üdvösséget!” </div>
		<div class="paragraph">Cantus alig értette a közös nyelv e régies dialektusát, de egyetértően bólintott.
			Gépkarabélyát
			és egyéb eszközeit már előkészítette, s egy sanda oldalra pillantás megmutatta, hogy a bizalmatlan és szótlan
			csapat
			is elkészült már az indulásra. </div>
		<div class="paragraph">Az öreg hosszú percekig állt az ajtóban, csak nézte, ahogyan a csapat egyre távolodott.
			Gregorió
			sziluettjét végül a dombok vették el a csapat látóteréből. </div>
	</div>
</body>