<title>Miserere Mei v.0.8 - Szöveges kalandjáték</title>
<style type="text/css">
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
</style>
<link href="place.component.css" rel="stylesheet" type="text/css">
<div *ngIf="place" style="background-color:#B8B8B8;">
    <h1 align="center">
    {{ "Miserere Mei v0.8" }}
    </h1>
    <table width="1232" border="1" align="center">
      <tbody>
        <tr>
          <th width="445" scope="col" style="background-color: #DDE0BD" align="left">Életerő: {{player.protagonistHealthPoint}} % </th>
          <th width="705" scope="col" style="background-color: #D0D1AC" align="left">Fegyver: {{player.currentWeaponName}}, {{player.playerAmmo}} lőszer</th>
        </tr>
        <tr>
          <th rowspan="3" scope="row"><pre><span style="background-color: #948B89"><img src="assets/img/{{ place.sceneArtFilename }}" width="445" height= "445"></span></pre></th>
          <td height="235" colspan="2" style="background-color: #948B89" align="justify">{{ place.narrationZoneText }}
          <ul *ngIf ="harcUzenet">
          <li *ngFor ="let item of harcUzenet">{{item}}</li>
          </ul>
        </td>
        </tr>
        <tr>
          <td align="center"><button (click)="clickLocation($event)"id="{{ place.furtherLocation1 }}">{{ place.decision1 }}</button></td>
          <td align="center"><button (click)="clickLocation($event)"id="{{ place.furtherLocation2 }}">{{ place.decision2 }}</button></td>
        </tr>
        <tr>
          <td align="center"><button (click)="clickLocation($event)" id="{{ place.furtherLocation3 }}">{{ place.decision3 }}</button></td>
          <td align="center"><button (click)="clickLocation($event)" id="{{ place.furtherLocation4 }}">{{ place.decision4 }}</button></td>
        </tr>
      </tbody>
    </table>
    <h1 align="center">&nbsp;</h1>
</div>
